<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="ouster_mount"
            params="parent_link
                    xyz:='0.0 0.0 0.0'
                    rpy:='0.0 0.0 0.0'
                    namespace:=''
                    device_namespace:=''">

    <xacro:property name="ns" value="${namespace + '/' if namespace != '' else ''}" />
    <xacro:property name="prefix" value="${device_namespace + '_' if device_namespace != '' else ''}" />
    <xacro:property name="device_ns" value="${device_namespace + '/' if device_namespace != '' else ''}" />

    <joint name="${parent_link.rstrip('_link')}_to_${prefix}ouster_mount_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent_link}" />
      <child link="${prefix}gps_link" />
    </joint>

    <link name="${prefix}ouster_mount_link">
        <inertial>
            <mass value="1e-5"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia
                ixx="1e-6" ixy="0.0" ixz="0.0"
                iyy="1e-6" iyz="0.0"
                izz="1e-6"/>
        </inertial>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.045 0.025"/>
            </geometry>
        </collision>

        <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://husarion_components_description/meshes/ouster_mount.stl" />
        </geometry>
      </visual>
    </link>

</xacro:macro>
</robot>